<%- include partials/top %>

<div class="page">
  <section class="section-content">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <h1 class="title text-blue">Sponsors</h1>
         <section id="using-support">
          <h3>Using Support Wisely</h3>
          <p>After exhausing these avenues, it's completely appropriate to ask a question on the pylons-discuss mail list or #pyramid and #pylons IRC channels. When you ask your question, please describe what you've learned from the efforts above, as it will help the developers focus on answering your question quickly. It also helps tremendously if you are able to provide a code or configuration snippet that makes the problem easily repeatable.</p>
        </section>
      </div>
    </div>
  </section>
</div>
<%- include partials/bottom %>
