<%- include partials/top %>

<div class="page">
  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1 class="title text-blue">Get Support</h1>
            <section id="security-issues">
              <h3>Security Issues</h3>
              <p>To report <strong>security issues with projects under the Pylons Project</strong> send email to: <a href="mailto:pylons-project-security@googlegroups.com">pylons-project-security@googlegroups.com</a>. If we determine that your report may be a security issue with the project, we may contact you for further information.</p>
              <p>Once verified and fixed, we will:</p>
                <ul>
                  <li>report it publically to the MITRE Corporation to its Common Vulnerabilities and Exposures (CVE) List, which in turn submits those to the National Vulnerability Database (NVD),</li>
                  <li>make a bug-fix release,</li>
                  <li>and send an announcement through our usual channels, including those listed on <a href="/about-contact.html">Contact</a>.</li>
                </ul>
            </section>
            <section id="general-support">
              <h3>General Support</h3>
                <h4>Mail list / Google Group</h4>
              <p>For help with Pylons Project projects, and to reach the largest audience (over 2800 participants), including requests for help with your code, you may post to the <a href="https://groups.google.com/forum/#!forum/pylons-discuss">pylons-discuss mail list</a>.</p>
                <h4>Stack Overflow</h4>
                <p><a href="https://stackoverflow.com/">Stack Overflow</a> is a question and answer website that is very popular with developers. Questions may be tagged with the project's name, such as <a href="https://stackoverflow.com/questions/tagged/pyramid">Pyramid</a> or
                    <a href="https://stackoverflow.com/questions/tagged/webob">WebOb</a>. You may search for related questions, or ask new questions which will notify the tag's followers.</p>
                <h4>#pyramid on IRC</h4>
              <p>Pylons Project developers (150-250 participants) are also generally available on the <a href="https://webchat.freenode.net/?channels=pyramid">#pyramid</a> channel on the Freenode IRC Network.</p>
                <h4>GitHub issue trackers</h4>
                <p>GitHub is the least desirable option. Posting a request for general support to the project's GitHub issue tracker reaches the smallest audience, and takes time away from fixing bugs and adding features. Please don't be "that person".</p>
             </section>
             <section id="using-support">
              <h3>Using Support Wisely</h3>
              <p>Before asking a technical question on a mail list or in IRC, please make sure to try the following things (paraphrased from <a href="http://www.catb.org/~esr/faqs/smart-questions.html#before">Before You Ask</a>):</p>
              <ul>
                <li>Reading the manual.</li>
                <li>Searching the mail list archives.</li>
                <li>Searching Stack Overflow.</li>
                <li>Searching the Web.</li>
                <li>Try to find an answer by inspection or experimentation.</li>
                <li>If you're a programmer, try to find an answer by reading the source code.</li>
              </ul>
              <p>After exhausing these avenues, it's completely appropriate to ask a question on the pylons-discuss mail list or #pyramid and #pylons IRC channels. When you ask your question, please describe what you've learned from the efforts above, as it will help the developers focus on answering your question quickly. It also helps tremendously if you are able to provide a code or configuration snippet that makes the problem easily repeatable.</p>
                 <p>See also the section "Reporting a Bug" under
                     <a href="/community-how-to-participate.html">How to Participate</a>.</p>
            </section>
          </div>
      </div>
    </div>
  </section>
</div>
<%- include partials/bottom %>
