<%- include partials/top %>

<div class="page">

  <section class="section-content">
    <div class="container">
      <h1 class="title text-blue">How to Participate</h1>
      <p>Most interaction with the Pylons Project is done via<a href="https://github.com/Pylons">
        The Pylons GitHub organization</a>, via the <a href="http://groups.google.com/group/pylons-devel">
        Pylons-devel mailing list</a>, or via the <a href="https://webchat.freenode.net/?channels=%23pyramid&uio=d4">#pyramid</a>
         IRC channel on <a href="http://freenode.net/">FreeNode</a>.</p>

      <div class="row">
        <div class="col-sm-8">
          <h2 class="title text-blue">Reporting a Bug</h2>
          <p>When reporting a bug, be as thorough as possible.  Including additional
            detail is encouraged.  Bugs with a Pylons Project package should be reported
            to the individual issue tracker on <a href="http://github.com/">GitHub</a>.</p>
          <span id="create-a-github-account" />
          <h3>1) Create a GitHub account</h3>
          <p>You will need to <a href="https://github.com/signup/free">create a GitHub
          account</a> account to report the bug.
          <span id="determine-if-your-bug-is-really-a-bug" />
          <h3>2) Determine if your bug is really a bug</h3>
          <p>You should not file a bug if you are:</p>
          <ul>
            <li>
              <dl class="first docutils">
                <dt><strong>Proposing features and ideas</strong>: you should provide a pull request or send</dt>
                <dd>a mail to the <a href="http://groups.google.com/group/pylons-devel">mailing list</a>.</dd>
              </dl>
            </li>
            <li><strong>Requesting support</strong>: there are a variety of ways to request support,
              from the <a href="http://groups.google.com/group/pylons-devel">mailing list</a>,
              <a href="http://stackoverflow.com/questions/tagged/pylons">Stackoverflow</a>, or
              <a href="https://webchat.freenode.net/?channels=%23pyramid&uio=d4">#pyramid</a>
              IRC channel on <a href="http://freenode.net/">FreeNode</a>.
            </li>
          </ul>
          <span id="make-sure-your-bug-hasn-t-already-been-reported" />
          <h3>3) Make sure your bug hasn't already been reported</h3>
          <p>Before creating an issue, search through the appropriate Issue tracker on
          <a href="http://github.com/">GitHub</a>. If you find a bug like yours, and it hasn't
          yet been fixed, check to see if you have new information that could be reported to
          help the developers fix it.</p>
          <span id="collect-information-about-the-bug" />
          <h3>4) Collect information about the bug</h3>
          <p>To provide the developers with enough information to fix a bug, they'll need
            to be able to easily repeat the conditions and observe it themselves.  The
            the likelihood that a bug will be fixed is directly correlated to the
            developer's ability to create the conditions under which the bug may be
            observed.</p>
          <p>Often a bug report should include a Python traceback (<a href="http://pastebin.com/TyaPKpt9"
            >see a Python traceback</a>).  We will also need to know what platform you're running
            (Windows, OSX, Linux), and which Python interpreter you're running if its not CPython
            (e.g. Jython, Google App Engine).</p>
          <span id="submit-the-bug" />
          <h3>5) Submit the bug</h3>
          <p>By default <a href="http://github.com/">GitHub</a> will email you to let you know
          when new comments have been made on your bug report. In the event you've turned this
          feature off, you should check back on occasion to ensure you don't miss any questions
          a developer trying to fix the bug might ask.</p>
        </div>

        <div class="col-sm-4">
          <span id="issue-trackers" />
          <h2 class="title text-blue">Issue Trackers</h2>
          <p>Bugs are reported and tracked via <a href="http://github.com/">GitHub</a>'s issue
            trackers. Each Pylons Project has its own issue tracker:</p>
          <ul>
            <li><a href="https://github.com/Pylons/pyramid/issues">pyramid issue tracker</a></li>
            <li><a href="https://github.com/Pylons/pyramid_beaker/issues">pyramid_beaker issue tracker</a></li>
            <li><a href="https://github.com/Pylons/pyramid_xmlrpc/issues">pyramid_xmlrpc issue tracker</a></li>
            <li><a href="https://github.com/Pylons/pyramid_jinja2/issues">pyramid_jinja2 issue tracker</a></li>
            <li><a href="https://github.com/Pylons/pylonsproject.org/issues">Pylons Project issue tracker</a> (All
              bugs with the pylonsproject.org website should be reported here.)</li>
          </ul>
          <p>Additional projects follow the same pattern: <tt class="docutils literal">
            <span class="pre">https://github.com/Pylons/
            &lt;projectname&gt;/issues</span></tt></p>

          <span id="working-on-code" />
          <h2 class="title text-blue">Working on Code</h1>
          <p>To fix bugs or add features to a package managed by the Pylons project, an account on
            <a href="http://github.com/">GitHub</a> is required. All Pylons Project packages are
            under the <a href="http://github.com/Pylons">Pylons organization on github</a>.</p>
          <p>The general practice for contributing new features and bug fixes is to
            <a href="http://help.github.com/forking/">fork the package</a> and make changes within
            a checkout of the forked repository. Then send a <a href="http://help.github.com/pull-requests/">pull request
            </a>.  This allows the developers toreview the patches and accept them, or comment on
            what needs to be addressed before the change sets can be accepted.</p>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>

