<%- include partials/top %>

<div class="page">
  <section class="section-content">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <h1 class="title text-blue">Get Support</h1>
        <section id="security-issues">
          <h3>Security Issues</h3>
          <p>To report security issues with projects under the Pylons Project, including Pyramid, send email to: <a href="mailto:pylons-project-security@googlegroups.com">pylons-project-security@googlegroups.com</a></p>
        </section>
        <section id="general-support">
          <h3>General Support</h3>
          <p>Development questions related to Pylons Project projects can be discussed on the <a href="https://groups.google.com/forum/#!forum/pylons-discuss">pylons-discuss mail list.</a></p>
          <p>On IRC, Pylons Project developers are generally available on the <a href="https://webchat.freenode.net/?channels=%23pyramid">#pyramid</a> and <a href="https://webchat.freenode.net/?channels=%23pylons">#pylons</a> channels on the Freenode IRC Network.</p>
         </section>
         <section id="using-support">
          <h3>Using Support Wisely</h3>
          <p>Before asking a technical question on a mail list or in IRC, please make sure to try the following things (paraphrased from <a href="http://www.catb.org/~esr/faqs/smart-questions.html#before">Before You Ask</a>):</p>
          <ul>
            <li>Try to find an answer by reading the manual.</li>
            <li>Try to find an answer by searching the mail list archives.</li>
            <li>Try to find an answer by searching the Web.</li>
            <li>Try to find an answer by inspection or experimentation.</li>
            <li>If you're a programmer, try to find an answer by reading the source code.</li>
          </ul>
          <p>After exhausing these avenues, it's completely appropriate to ask a question on the pylons-discuss mail list or #pyramid and #pylons IRC channels. When you ask your question, please describe what you've learned from the efforts above, as it will help the developers focus on answering your question quickly. It also helps tremendously if you are able to provide a code or configuration snippet that makes the problem easily repeatable.</p>
        </section>
      </div>
    </div>
  </section>
</div>
<%- include partials/bottom %>
