.artwork {
  padding: 20px;
  margin-bottom: 1.6em;
  &.black {background-color: black;}
  &.gray-lighter {background-color: $gray-lighter;}
}
.section-artwork {
  .grid-item {
    margin-bottom: 15px;
    padding-left: 0;
    font-size: 14px;
    .grid-item-content {
      border: 1px solid $color-light;
      padding: 10px;
      h4 {
        margin-top: 10px;
      }
    }
  }
}