.page {
  padding-bottom: $footer-height;

  .section-content {
    .project-items {
      padding-left: 0;
      font-size: 14px;
      .project-item {
        border: 1px solid $color-light;
        padding: 10px;
        margin-bottom: 10px;
        h4 {
          margin-top: 0;
        }
      }
      .project-item .lastupdated {
        font-size: smaller;
      }
      .project-item .stats {
        font-size: smaller;
      }
      .project-item .stats span {
        margin: 0 2px 0 10px;
      }
      .project-item .stats span:nth-child(1) {
        margin-left: 2px;
      }
    }
  }
}
