.page {
  padding-bottom: $footer-height;

  .section-content {
    .grid-item {
      height: 10em;
    }
    .project-items, .sponsor-items {
      padding-left: 0;
      font-size: 14px;
      .project-item {
        border: 1px solid $color-light;
      }
      .project-item, .sponsor-item {
        padding: 10px;
        margin-bottom: 10px;
        h4 {
          margin-top: 0;
        }
        .project-description {
          height: 60px;
          overflow: hidden;
        }
        .project-links {
          font-size: 12px;
        }
      }
    }
  }
}
